<% provide(:title, "Log in") %>
<div class="container">
	<div class="row">
	  <div class=" col-md-offset-8 col-md-4">

	  	<% flash.each do |type, msg| %>
    		<div class="text-center signal <%= type %>"><%= msg %></div>
    	<% end %>

	    <h2 class="text-center nunito">Sign in to publish</h2>
	    <%= form_for(:session, url: login_path) do |f| %>
	      <%= f.text_field :email, placeholder: 'Email', class: 'form-control yellow' %>
	      <%= f.password_field :password, placeholder: 'Password', class: 'form-control yellow' %>
	      <%= f.submit "Enter", class: "btn btn-primary nunito" %>
	    <% end %>
	  </div>
	</div>
</div>