<div class="box panel panel-default">
  <%= link_to image_tag(pin.photo.url(:large), class: "pin-img"), pin unless pin.photo.url.blank? %>
  <div class="panel-body">
    <span class="nunito">By</span> 
    <% if pin.user.provider == 'facebook' %>
    	<%= link_to pin.user.name, pin.user, class: "bold mclaren fblue" %>
    <% elsif pin.user.provider == 'linkedin' %>
      <%= link_to pin.user.name, pin.user, class: "bold mclaren lgray" %> 
    <% else %>
    	<%= link_to pin.user.name, pin.user, class: "bold mclaren tblue" %>
    <% end %>
    <h4 class="bold nunito"><%= link_to pin.title, pin, class: "wwrap" %></h4>
    <p>
    	<%= simple_format(pin.content[0,140], html_options = {class: "wwrap bitter"}) %>...
    </p>
    
  </div> <!--panel-body-->

  <div class="btn btn-group">   
	  <% if logged_in? %>
	    <%= link_to like_pin_path(pin), class: "btn btn-primary left-btn right-btn", method: :put, :remote => true do %>
	      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
	      <i id="likes_count_<%= pin.id %>" class="badge"><%= pin.get_likes.size %></i>
	    <% end %>
	    <%= link_to dislike_pin_path(pin), class: "btn btn-primary left-btn right-btn", method: :put, :remote => true do %>
	      <i class="fa fa-thumbs-down" aria-hidden="true"></i>
	      <i  id="dislikes_count_<%= pin.id %>" class="badge"><%= pin.get_dislikes.size %></i>
	    <% end %>
	  <% end %>
	</div>

</div> <!--box-->