<br/>
<br/>
<div class="container-fluid">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="bold black nunito text-center">More from <%= @pin.user.name %> </h2>
    <div id="pins">
      <% @pins.each do |pin| %>
        <div class="box-sm panel panel-default">
          <%= link_to image_tag(pin.photo.url(:thumb)), pin unless pin.photo.url.blank? %>
          <div class="panel-body">
            <h5 class="bold mclaren"><%= link_to pin.title, pin, style: "word-wrap: break-word;" %></h5>
          </div> <!--panel-body-->
        </div> <!--box-->
      <% end %>
    </div> <!--pins-->
  </div> <!--col-md-8-->
</div> <!--container-fluid-->