<div id="all">

  <div id="content">
    <div class="container">

      <div class="col-md-12">
        <ul class="breadcrumb">

            <li><%= link_to 'Home', root_path %></li>
            <li> Publish </li>
        </ul>
        
        <hr>
        <h2 class='text-center'>Trenda It!</h2>

        <%= render 'form' %>
      </div>
      <!-- /#contact -->
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /#content -->

<%= javascript_include_tag 'pins' %>