<% provide(:title, "Edit profile") %>
<div class="container">
	<div class="row">
	  <div class="col-md-offset-8 col-md-4">
	    <h2 class="text-center nunito">Edit profile</h2>
	    <%= form_for @user do |f| %>
	    	
	    	<% if @user.errors.any? %>  	
	    		<ul>
		    		<% @user.errors.full_messages.each do |err| %>
		    			<li class="err"> <%= err %> </li>
		    		<% end %>
    			</ul>
	    	<% end %>

	    	<%= f.text_field :username, placeholder: 'Name *', class: 'form-control yellow' %>
	      
	      <%= f.submit "Save", class: "btn btn-primary nunito" %>
	    <% end %>
	  </div> <!-- col-md-4 -->
	</div> <!-- row -->
</div> <!-- container -->