<% provide(:title, @user.name) %>
<div class="container-fluid">
  <% flash.each do |message_type, message| %>
    <div class="nunito alert alert-<%= message_type %> col-md-6 col-md-offset-3">
      <%= message %>
    </div>
  <% end %>
  <div class="col-md-10 col-md-offset-1">
    <% unless @pins.blank? %>
      <div id="pins">
        <%= render @pins %>
      </div> <!--pins-->
      <div class="text-center">
        <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
      </div>
    <% else %>
      <div class="alert alert-warning col-md-6 col-md-offset-3">
        <h4 class="nunito">Start <%= link_to 'trending', new_pin_path %>...</h4>
      </div>
    <% end %>
  </div> <!--col-md-10-->
</div> <!--container-fluid-->