// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#pins { margin: 0 auto; }
.box { width: 324px; }
.box-sm { width: 214px; }
.box, .box-sm { margin: 5px; }
.box img, .box-sm img { width: 100%; }