<!-- *** NAVBAR ***
_________________________________________________________ -->

<div class="navbar navbar-default navbar-fixed-top yamm" role="navigation" id="navbar">
    <div class="container">
        <div class="navbar-header">

            <%= link_to root_path, class: "navbar-brand home" do %>
                <img src="<%= asset_path 'logo.png' %>" alt="Trenda logo" class="hidden-xs hidden-sm">
                <img src="<%= asset_path 'logo-small.png' %>" alt="Trenda logo" class="visible-xs visible-sm">
                <span class="sr-only">Trenda - go to homepage</span>
            <% end %>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle btn-primary" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
                <button type="button" class="navbar-toggle btn-default" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle search</span>
                    <i class="fa fa-search"></i>
                </button>

            </div>
        </div>
        <!--/.navbar-header -->

        <div class="navbar-collapse collapse" id="navigation">

          <ul class="nav navbar-nav navbar-left">
            <li class="active dropdown normal-dropdown">
              <%= link_to root_path do %>
                <i class="fa fa-home"></i>
              <% end %>
            </li>            
            <li class="active dropdown normal-dropdown">
              <%= link_to contact_path do %>
                Contact <i class="fa fa-phone"></i>
              <% end %>
            </li>
            <% if logged_in? %>
              <li class="active dropdown normal-dropdown">
                <%= link_to "Publish", new_pin_path, class: "mclaren" %>
              </li>
              <li class="active dropdown normal-dropdown">
                <%= link_to current_user do %>
                  <%= image_tag(current_user.avatar, class: "img-circle", width: 30, height: 30) %>
                <% end %>
              </li>
              <li class="active dropdown normal-dropdown">
                <%= link_to "Sign Out", logout_path, class: "mclaren", method: :delete %>
              </li>
            <% else %>
              <li class="active dropdown normal-dropdown">
                <%= link_to '/auth/facebook', class: "mclaren" do %>
                  Sign In <i class="fa fa-facebook-square"></i>
                <% end %>
              </li>
              <li class="active dropdown normal-dropdown">
                <%= link_to '/auth/linkedin', class: "mclaren" do %>
                  Sign In <i class="fa fa-linkedin-square"></i>
                <% end %>
              </li>
              <li class="active dropdown normal-dropdown">
                <%= link_to '/auth/twitter', class: "mclaren" do %>
                  Sign In <i class="fa fa-twitter-square"></i>
                <% end %>
              </li>
            <% end %>
          </ul>

        </div>
        <!--/.nav-collapse -->

        <!-- <div class="navbar-collapse collapse right" id="basket-overview">
            <a href="basket.html" class="btn btn-primary navbar-btn">
            	<i class="fa fa-shopping-cart"></i>
          		<span class="hidden-sm">3 items
          			<span class="hidden-md">in cart</span>
          		</span>
          	</a>
        </div> -->

        <!--/.nav-collapse -->

        <div class="navbar-collapse collapse right">
            <button type="button" class="btn navbar-btn btn-default" data-toggle="collapse" data-target="#search">
                <span class="sr-only">Toggle search</span>
                <i class="fa fa-search"></i>
            </button>
        </div>

        <div class="navbar-collapse collapse right">
          <%= link_to new_pin_path do %>
            <button type="button" class="btn navbar-btn btn-primary">
              <i class="fa fa-pencil"></i>
            </button>
          <% end %>
          <%= link_to root_path do %>
            <button type="button" class="btn navbar-btn btn-primary">              
              <i class="fa fa-home"></i>
            </button>
          <% end %>
        </div>

        <div class="collapse clearfix" id="search">

          <%= form_tag(root_path, method: "get", class: "navbar-form") do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], placeholder: "Search", class: "nunito form-control" %>
              <span class="input-group-btn">
			      		<%= button_tag(type: "submit", class: "btn btn-primary") do %>
			      			<i class="fa fa-search"></i>
                <% end %>
			        </span>
            </div>
          <% end %>

        </div>
        <!--/.nav-collapse -->

    </div>


</div>
<!-- /#navbar -->

<!-- *** NAVBAR END *** -->