<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-site-verification" content="72eS_Y1zv3_b8iOMOsp3X1g9iEqtmLck6LJOAcczLe4" />
    <meta name="author" content="AGABA, Philip">

    <%= favicon_link_tag(source='favico.png', options={}) %>
    
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  	
  	<%= render 'layouts/navbar' %>
  	
  	<!-- flash ordinarily goes here -->

    <div class="col-sm-4 col-sm-offset-5">
      <h3 class="mclaren"><%= @user.name if @user %></h3>
    </div>

  	<%= yield %>

    <div id="all" class="nunito">
      <%= render 'layouts/footer' %>
    </div>
  	
  </body>
</html>